webAPIConfig/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="webservice" elementFormDefault="qualified" targetNamespace="webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="corsConfig" type="tns:WebService.Managers.CORSConfigCT" />
	<xs:complexType name="WebService.Managers.CORSConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="project" type="tns:WebService.Managers.project_collectionCT">
				<xs:annotation>
					<xs:documentation>The project.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WebService.Managers.project_collectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="project" type="tns:WebService.Managers.token_elementCT">
				<xs:annotation>
					<xs:documentation>The token_element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WebService.Managers.project_collectionRemoveCT">
				<xs:attribute name="name" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="WebService.Managers.project_collectionClearCT" />
	<xs:complexType name="WebService.Managers.token_elementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="audience" type="tns:WebService.Managers.audience_token_collectionCT">
				<xs:annotation>
					<xs:documentation>The audience_token.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="issuer" type="tns:WebService.Managers.issuer_token_collectionCT">
				<xs:annotation>
					<xs:documentation>The issuer_token.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secret_key" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The secret_key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="expire_minutes" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The expire_minutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WebService.Managers.issuer_token_collectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="issuer_token" type="tns:WebService.Managers.issuer_token_elementCT">
				<xs:annotation>
					<xs:documentation>The issuer_token_element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WebService.Managers.issuer_token_collectionRemoveCT">
				<xs:attribute name="key" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The key.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="WebService.Managers.issuer_token_collectionClearCT" />
	<xs:complexType name="WebService.Managers.audience_token_collectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="audience_token" type="tns:WebService.Managers.audience_token_elementCT">
				<xs:annotation>
					<xs:documentation>The audience_token_element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WebService.Managers.audience_token_collectionRemoveCT">
				<xs:attribute name="key" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The key.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="WebService.Managers.audience_token_collectionClearCT" />
	<xs:complexType name="WebService.Managers.issuer_token_elementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WebService.Managers.audience_token_elementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
